<div class="main">
    <h1>{{ tour.name }}</h1>
    <p class="tourDescription">{{ tour.description }}</p>
    <h5 style="margin-top: 30px;">Start location: {{ tour.placeStart.name }}</h5>
    <h5>End location: {{ tour.placeEnd.name }}</h5>
    <h5>Transport to {{ tour.placeEnd.name }}: {{ tour.transportToEnd.name }}</h5>
    <h5>{{ tour.formattedStartDate }} --- {{ tour.formattedEndDate }}</h5>
    <img [src]="tour.imageUrl" alt="tour image" class="tourImage">


    <div>
        <div *ngFor="let destination of tour.destinations; let index = index" class="location">
            <h2>{{ index + 1 }} location</h2>
            <h3>{{ destination.hotel.place.name }}({{ destination.hotel.place.country }})</h3>
            <h4>{{ destination.formattedStartDate }} --- {{ destination.formattedEndDate }}</h4>
            <p>{{ destination.hotel.place.description }}</p>
            <div class="locationImages">
                <div *ngFor="let imageUrl of destination.hotel.place.imagesUrls">
                    <img style="width: 500px" [src]="imageUrl.url" alt="location image">
                </div>
            </div>
            <div class="hotel">
                <h3>Your hotel({{ destination.hotel.place.name }})</h3>
                <h4>"{{ destination.hotel.name }}"</h4>
                <h4>Address: {{ destination.hotel.address }}</h4>
                <p style="margin-top: 30px;">{{ destination.hotel.description }}</p>
                <img [src]="destination.hotel.imageUrl" alt="hotel image" class="hotelImage">
            </div>
            <div class="transport">
                <h3>Transport(to {{ destination.hotel.place.name }})</h3>
                <h4>{{ destination.transport.name }}</h4>
                <h4>{{ destination.transport.description }}</h4>
                <img [src]="destination.transport.imageUrl" alt="transport image" class="transportImage">
            </div>
        </div>
    </div>



    <div v-if="user.role">
        <div style="margin-top: 60px; text-align: center;">
            <h2>Quantity</h2>
            <input type="number" [(ngModel)]="quantity" min="1" :max="freeSeats" (input)="calculatePrice()">
        </div>
        <div>
            <h2 style="margin-top: 30px;">Price: {{ tour.price * quantity}}</h2>
        </div>

        <div style="margin-top: 30px; display: flex; flex-direction: column;">
            <!-- <button class="button-action" (click)="reserveTour()" v-if="!isSendRequest && !haveUserTour"
                    :disabled="isSendRequest">Buy</button>
                <button class="button-action" (click)="enterUpdatePage()"
                    v-if="user.role === 'EDITOR' || user.role === 'ADMIN'">Update</button>
            </div> -->
        </div>

    </div>


    <!-- <div style="text-align: center; margin-top: 70px;">
        <h2>Your review</h2>
        <div v-if="user.role" style="text-align:center; ">
            <div>
                <div class="rating">
                    <input value="5" name="rating" id="star5" type="radio">
                    <label for="star5"></label>
                    <input value="4" name="rating" id="star4" type="radio">
                    <label for="star4"></label>
                    <input value="3" name="rating" id="star3" type="radio">
                    <label for="star3"></label>
                    <input value="2" name="rating" id="star2" type="radio">
                    <label for="star2"></label>
                    <input value="1" name="rating" id="star1" type="radio">
                    <label for="star1"></label>
                </div>
            </div>
            <textarea class="comment-area" v-model="userReview.text" placeholder="Write your review"></textarea><br>
            <button v-if="!isReviewFromDb" class="button-comment-area" @click="sendReview">Send</button>
            <div v-else>
                <button class="button-comment-area" (click)="updateReview">Update</button>
                <button class="button-comment-area" (click)="deleteReview">Delete</button>
            </div>
        </div>
    </div> -->

    <!-- <div style="text-align: center; margin-top: 40px">
        <div v-for="review in reviews" :key="review.id" class="review">
            <h3>{{ review.rating }}</h3>
            <p>{{ review.text }}</p>
        </div>
    </div> -->