.list-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    /* table-layout: fixed; */
}

.list-table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 10px 0;
    border: 1px solid #ddd;
}

.list-table td {
    padding: 10px 0;
    border: 1px solid #ddd;
}


.list-table img {
    width: 200px;
    /* height: 200px; */
    /* object-fit: cover; */
}

.button-update-delete {
    /* margin: 30px; */
    /* padding: 1.3em 3em; */
    width: 150px;
    height: 50px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-update-delete:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.button-update-delete:active {
    transform: translateY(-1px);
}

.button-update-delete-hover-green:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}

.button-update-delete-hover-black:hover {
    background-color: #000000;
    box-shadow: 0px 15px 20px rgba(65, 68, 71, 0.4);
    color: #fff;
}