<div class="container-user-input">
    <div class="form">
        <p class="title">Forgot password</p>
        <input placeholder="Email" class="username input" type="text" [(ngModel)]="user.email" [readonly]="isPasswordCreated">
        <input placeholder="Password" class="password input" type="password" *ngIf="isPasswordCreated" [(ngModel)]="user.password">
        <button class="btn" type="submit" *ngIf="!isPasswordCreated && checkEmail() && !isSending" (click)="createReservePassword()">Send password</button>
        <button *ngIf="isSending" class="btn" type="button">
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">Loading...</span>
        </button>
        <button class="btn" type="submit" *ngIf="isPasswordCreated && user.password && !isSending" (click)="loginViaReservePassword()">Login</button>
    </div>
</div>